* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: rgb(113, 126, 238);
}

.navegacao {
    background-color: rgb(238, 125, 172);
}

.secao {
    background-color: rgb(247, 217, 154);
}

.rodape {
    background-color: rgb(181, 247, 143);
}